*
{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face
{
    font-family: "95";
    src: url(/fonts/MS_Sans_Serif_8pt.ttf) format("truetype");
}

@font-face
{
    font-family: "95 Bold";
    src: url(/fonts/MS_Sans_Serif_8pt_bold.ttf) format("truetype");
}

html,
body
{
    background-color: rgb(16, 39, 16);
    overflow: hidden;
    font-family: "95";
    letter-spacing: 1px;
}

.desktop
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bootScreen
{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    font-family: "95";
    color: white;
}

.bootLoad
{
    margin: 5%;
}

/* 
//////////////////////////////////////////////////////////////
//                        TASKBAR                           //
//////////////////////////////////////////////////////////////
*/

.bottomBar
{
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: rgb(189, 189, 189);
    border-top: 4px solid rgb(231, 231, 231);
    border-left: 4px solid rgb(236, 236, 236);
    border-right: 4px solid rgb(59, 59, 59);
    border-bottom: 4px solid rgb(59, 59, 59);

    z-index: 3;
    min-height: 35px;
    box-sizing: border-box;
}

.startButton
{
    height: 22px;
    width: 65px;
    background-color: rgb(212, 212, 212);
    border-top: 2px solid rgb(231, 231, 231);
    border-left: 2px solid rgb(236, 236, 236);
    border-right: 2px solid rgb(59, 59, 59);
    border-bottom: 2px solid rgb(59, 59, 59);
    float: left;
    left: 0;
}

.startButton:hover
{
    background-color: rgb(138, 138, 138);
    cursor: pointer;
}

.startButton img
{
    height: 90%;
}

.startButton p
{
    float: right;
    padding-right: 3px;
    font-family: "95 bold";
    font-size: 12px;
}

.startMenu
{
    background-color: rgb(212, 212, 212);
    height: 0%;
    position: absolute;
    width: 120px;
    transform: translate(0,-100%);
    border-top: 2px solid rgb(231, 231, 231);
    border-left: 2px solid rgb(236, 236, 236);
    border-right: 2px solid rgb(59, 59, 59);
    border-bottom: 2px solid rgb(59, 59, 59);
    visibility: hidden;
}

.startMenu.open
{
    height: auto;
    visibility: visible;
}

.menuElement
{
    padding-left: 5px;
    height: 22px;
    border: 1px solid rgb(121, 121, 121);
    overflow: hidden;
}

.menuElement:hover
{
    background-color: rgb(114, 114, 114);
    color: white;
}

.menuElement p
{
    padding-top: auto;
    padding-bottom: auto;
    top: 0;
    bottom: 0;
    font-size: 12px;
    font-family: "95 bold";
}

.menuElement img
{
    height: 100%;
    top: 0;
    float: right;
}

.minimizedElement
{
    width: 15%;
    height: 22px;
    background-color: rgba(51, 51, 51, 0.432);
    float: left;
    left: 16%;
    overflow: hidden;
    white-space: nowrap;
    border-top: 2px solid rgb(231, 231, 231);
    border-left: 2px solid rgb(236, 236, 236);
    border-right: 2px solid rgb(59, 59, 59);
    border-bottom: 2px solid rgb(59, 59, 59);

}

.minimizedElement:hover
{
    background-color: rgba(29, 29, 29, 0.548);
}

.minimizedElement.focused
{
    background-color: rgba(0, 0, 0, 0.219);
}

.minimizedElement p
{
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: white;
    vertical-align: middle;
    line-height: 100%;
    transform: translate(0,5px);
}

/* 
//////////////////////////////////////////////////////////////
//                     DATE AND TIME                        //
//////////////////////////////////////////////////////////////
*/

.info
{
    position: absolute;
    right: 0.7%;
    height: 22px;
    width: 70px;
    font-size: 9px;
    line-height: 11px;
    font-family: "95 bold";
    border-right: 2px solid rgb(231, 231, 231);
    border-bottom: 2px solid rgb(236, 236, 236);
    border-top: 2px solid rgb(59, 59, 59);
    border-left: 2px solid rgb(59, 59, 59);
}

.info p
{
    color: rgb(0, 0, 0);
    float: right;
    transform: translate(0,-2px);
}

.info div
{
    margin: 2px;
}

/* 
//////////////////////////////////////////////////////////////
//                         ICONS                            //
//////////////////////////////////////////////////////////////
*/

.icon
{
    width: 10%;
    height: 15%;
    padding: 2%;
    overflow: hidden;
    position: absolute;
    display: block;
}

.icon img
{
    width: 100%;
    image-rendering: pixelated;
    pointer-events: none;
}

.icon figcaption
{
    text-align: center;
    transform: translate(0,-10px);
    font-size: 13px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    color: white;
}

.icon:hover
{
    cursor: pointer;
}

.folder1
{
    left: 0;
    top: 0;
}

.txt1
{
    left: 0;
    top: 17%;
}

.network
{
    left: 0;
    top: 34%;
}

/* 
//////////////////////////////////////////////////////////////
//                      APP WINDOW                          //
//////////////////////////////////////////////////////////////
*/

.windowApp
{
    position: absolute;
    width: 70%;
    height: 50%;
    background-color: rgb(189, 189, 189);
    border-top: 2px solid rgb(214, 214, 214);
    border-left: 2px solid rgb(214, 214, 214);
    border-bottom: 2px solid rgb(59, 59, 59);
    border-right: 2px solid rgb(59, 59, 59);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    transition: 0.2s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}

.windowTopBar
{
    position: absolute;
    top: 0;
    height: 22px;
    width: 100%;
    background: linear-gradient(90deg, rgba(6,6,71,1) 7%, rgba(0,212,255,1) 100%);
    overflow: hidden;
    z-index: 2;
}

.windowTopBarLabel
{
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translate(0,-50%);
    color: white;
}

.windowTopBarButtons
{
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translate(0,-50%);
    height: 85%;
}

.windowTopBarButtons img
{
    height: 100%;
    margin-left: 2px;
    float: right;
}

.windowTopBar img:hover
{
    cursor: pointer;
    filter: brightness(0.4);
}

/*
//////////////////////////////////////////////////////////////
//                      FOLDERS APP                         //
//////////////////////////////////////////////////////////////
*/

.folderAddressBar
{
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 10%;
    max-height: 35px;
    background-color: rgb(197, 197, 197);
    border-bottom: 2px solid grey;
}

.folderAddress
{
    position: absolute;
    font-size: 12px;
    border: 2px solid grey;
    height: 50%;
    left: 25%;
    top: 50%;
    width: 70%;
    transform: translate(0,-50%);
    overflow: hidden;
}

.folderSidePanel
{
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    border-right: 2px solid grey;
    overflow: hidden;
}

.folderSidePanelElements
{
    position: absolute;
    top: 10%;
    padding-top: 30px;
}

.folderSidePanelElements p
{
    margin: 10px;
    font-size: 13px;
    color: rgb(39, 39, 39);
}

.folderList
{
    position: absolute;
    left: 25%;
    height: 100%;
    width: 30%;
    border-right: 2px solid grey;
    overflow: hidden;
}

.folderListElements
{
    position: absolute;
    top: 10%;
    margin-top: 32px;
}

.folderListElements p
{
    padding: 2px;
    padding-left: 6px;
    text-decoration: underline;
    font-size: 13px;
    width: 100%;
    left: 0;
    right: 0;
}

.folderList p:hover
{
    cursor: pointer;
    color: blue;
}

.folderPreview
{
    position: absolute;
    left: 55%;
    height: 100%;
    width: 45%;
    border-right: 2px solid grey;
    overflow: hidden;
}

.folderPreviewElement
{
    margin: 10px;
    position: absolute;
    top: 10%;
    margin-top: 35px;
    width: 90%;
}

/* 
//////////////////////////////////////////////////////////////
//                        TXT APP                           //
//////////////////////////////////////////////////////////////
*/

.txtEditableArea
{
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    height: auto;
    
}

.txtInput
{
    font-family: "95";
    position: absolute;
    margin: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    width: auto;
    border: none;
    outline: none;
    background-color: rgb(189, 189, 189);

}

/*
//////////////////////////////////////////////////////////////
//                      NETWORK APP                         //
//////////////////////////////////////////////////////////////
*/

.netSearchBar
{
    position: absolute;
    top: 30px;
    height: 30px;
    width: 100%;
    border-bottom: 2px solid grey;
    overflow: hidden;
}

.netBarButton
{
    width: 5%;
    margin-left: 2px;
    top: 0;
    bottom: 0;
    max-width: 30px;
}

.netBarButton:hover
{
    filter: brightness(120%);
    cursor: pointer;
}

.netBackButton
{
    transform: scaleX(-1);
}

.netURL
{
    position: absolute;
    padding: 2px;
    top: 50%;
    right: 5px;
    transform: translate( 0, -50% );
    border: 1px solid grey;
    height: 60%;
    width: 80%;
}

.netViewport
{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgb(167, 245, 255);
}

/*
//////////////////////////////////////////////////////////////
//                 QUICK LINKS WEBSITE                      //
//////////////////////////////////////////////////////////////
*/

.netQuickLinks
{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(56, 48, 40);
    color: white;
}

.netQuickLinksHeader
{
    width: 100%;
    margin: 3px;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.netQuickLink
{
    margin-left: 20px;
    font-style: italic;
    line-height: 24px;
}

.netQuickLink:hover
{
    cursor: pointer;
    color: rgb(255, 193, 193);
}

/*
//////////////////////////////////////////////////////////////
//                 ENVIRONMENTS WEBSITE                     //
//////////////////////////////////////////////////////////////
*/

.netEnvironments
{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, rgb(187, 255, 249), rgb(156, 156, 255));
    color: rgb(7, 7, 7);
}

.netEnvironmentsHeader
{
    width: 100%;
    margin: 5px;
    margin-left: 2.5%;
    font-size: 25px;
    font-style: italic;
}

.netEnvironmentsHR
{
    width: 95%;
    margin-left: 2.5%;
    background-color: black;
    border: none;
    height: 1px;
}

/*
//////////////////////////////////////////////////////////////
//                          EXTRA                           //
//////////////////////////////////////////////////////////////
*/

.animatedOverlay
{
    background-image: url('/textures/animated/computerNoise.gif');
    background-size: 20%;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    opacity: 0.03;
}

.hidden
{
    visibility: hidden;
    opacity: 0;
}