*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.enter
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 1s;
    visibility: visible;
    opacity: 1;
}

.whiteScreen
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background-color: white;
}

.whiteScreen.hide
{
    opacity: 0;
}

.enterButton
{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: white;
    transition: 0.2s;
    opacity: 1;
    font-size: 20px;
}

.enterButton.hide
{
    opacity: 0;
}

.enter.hide
{
    visibility: hidden;
}

.enterButton:hover
{
    color: red;
    cursor: pointer;
}

.pathButton
{
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    color: white;
    transition: 0.2s;
}

.pathButton:hover
{
    color: red;
    cursor: pointer;
}

.title
{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    color: darkred;
    font-weight: 20;
    font-size: 30px;
    font-style: italic;
    transition: 0.5s;
    opacity: 1;
    padding: 5px;
    margin: 10px;
}

.title.hide
{
    opacity: 0;
}

.loading
{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    color: darkred;
    font-weight: 20;
    font-size: 20px;
    transition: 0.5s;
    background-color: white;
    opacity: 1;
}

.loading.hide
{
    opacity: 0;
}
