*
{
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

html,
body
{
    background-color: rgb(240, 240, 240);
    overflow: hidden;
}

a
{
    font-style: italic;
    cursor: pointer;
}

/*---------------Experience Container---------------*/

.experienceContainer
{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: none;
}

.experienceContainer.fullSquare
{
    max-width: 100vh;
}

.experienceContainer.fullscreen
{
    max-width: 100%;
}

.experienceContainer.square
{
    max-width: 700px;
    max-height: 700px;
    border: 7px solid rgb(44, 44, 53);
}

@media only screen and (max-height: 700px)
{
    .experienceContainer
    {
        min-width: 0;
        min-height: 0;
        width: 100%;
        height: 100%;
        top: 50%;
    }
}

/*---------------Titlescreen----------------*/

.titleScreen
{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 1;
    transition: 0.5s;
    z-index: 11;
}

.titleScreen.hidden
{
    opacity: 0;
}

.titleText
{
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.authorText
{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    text-align: center;
    color: rgb(255, 248, 210);
}

.loadingText
{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-90%,-50%);
    font-size: 20px;
    text-align: center;
    opacity: 1;
    transition: 0.5s;
    color: white;
}

.loadingText.hidden
{
    opacity: 0;
}

.loadingBarContainer
{
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 10px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    opacity: 1;
    transition: 1s;
    visibility: hidden;
}

.loadingBarContainer.hidden
{
    opacity: 0;
}

.loadingBar
{
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    box-sizing: border-box;
    margin-left: 4px;
    transform: translate(0,-50%);
}

.ouroborosContainer
{
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 20;
    width: auto;
    
}

.ouroboros
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(110%,-50%);
    width: 28px;

}

.startGame
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-align: center;
    color: white;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
    z-index: 22;
}

.startGame.hidden
{
    visibility: hidden;
    opacity: 0;
}

.startGame:hover
{
    color: rgb(200, 230, 255);
}

.loadGame
{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-align: center;
    color: white;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.loadGame.hidden
{
    visibility: hidden;
    opacity: 0;
}

.loadGame:hover
{
    color: rgb(200, 230, 255);
}

.titleScreen.hidden
{
    opacity: 0;
}

/* -----------PORTFOLIO SECTION--------------- */

.portfolioContainer
{
    position: absolute;
    width:  300px;
    min-width: 150px;
    padding: 20px;
    z-index: 10;
}

.portfolioTitle
{
    color: white;
    text-decoration: none;
    font-style: italic;
}

.horizontalLine
{
    margin-top: 15px;
    width: 100%;
    height: 2px;
    background-color: white;
}

.portfolioLinks
{
    opacity: 1;
    visibility: visible;
}

.portfolioLinks.hidden
{
    opacity: 0;
    visibility: hidden;
    font-size: 100px;
}

.portfolioLinks ul li
{
    margin-top: 18px;
}

.portfolioLinks ul li:hover
{
    margin-left: 2px;
}

.portfolioLinks ul li a
{
    color: white;
    text-decoration: none;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 20px;
}

.portfolioLinks ul li a.selected
{
    color: aquamarine;
}

.portfolioLinks ul li a:hover
{
    color: aquamarine;
    cursor: pointer;
}

.portfolioContainer2
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%,-42%);
    width: 80%;
    height: 80%;
    z-index: 10;
    transition: 1s;
    opacity: 1;
}

.portfolioContainer2.hidden
{
    opacity: 0;
}

.portfolioContainer2.inactive
{
    visibility: hidden;
}

.portfolioContainer2.mobile
{
    transform: translate(-50%,-34%);
    width: 90%;
    height: 90%;
}

.mobileBack
{
    position: absolute;
    top: 90px;
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
    color: white;
    left: 17px;
    text-decoration: none;
    color: aquamarine;
    font-size: 22px;
    z-index: 12;
}

.mobileBack.hidden
{
    opacity: 0;
    visibility: hidden;
}

.information
{
    color: white;
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    font-size: 17px;
    line-height: 25px;
    max-width: 450px;
}

.information a
{
    color: aquamarine;
    text-decoration: none;
}

.information.mobile
{
    overflow-y: scroll;
}

.information::-webkit-scrollbar
{
    width: 15px;
}

.information::-webkit-scrollbar-track
{
    background: none;
}

.information::-webkit-scrollbar-thumb
{
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box ;
}

.images
{
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    transition: 0;
}

.images.active
{
    overflow-y: scroll;
}

.images img
{
    transition: 1s;
    width: 100%;
}

.firstImage
{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.images iframe
{
    transition: 1s;
    width: 100%;
}

.images p
{
    color: white;
}

.images a
{
    text-decoration: none;
    color: aquamarine;
    text-align: center;
}

.sublinkTitle
{
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

.sublinkParagraph
{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

.images::-webkit-scrollbar
{
    width: 15px;
}

.images::-webkit-scrollbar-track
{
    background: none;
}

.images::-webkit-scrollbar-thumb
{
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box ;
}

.profile
{
    max-width: 200px;

}

/*-------------WebGL Container----------------*/

.webgl
{
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%,-50%);
}

.webgl.hide
{
    opacity: 0;
}

.visuals
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: none;
    z-index: -1;
}

.experienceContainer.webglHidden .webgl
{
    visibility: hidden;
}

.experienceContainer.square .webgl
{
    height: 700px;
    width: 700px;
}

/*------------Navigation Box------------*/

.navBox
{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    color: white;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
    transition: 3s;
    box-sizing: border-box;
    z-index: 10;
}

.navBox.default
{
    transition: 1s;
}

.experienceContainer.navBoxDefault .navBox
{
    height: 25%;
}

.experienceContainer.navBoxFull .navBox
{
    height: 100%;
}

.experienceContainer.webglHidden .navBox
{
    height: 100%;
}

.boxShadow
{
    position: absolute;
    width: 110%;
    height: 0%;
    bottom: 0;
    z-index: 1;
    box-shadow: 0px -15px 25px 10px  rgba(0, 0, 0, 0.507);
    transition: 3s;
}

.boxShadow.default
{
    transition: 1s;
}

.experienceContainer.navBoxFull .boxShadow
{
    height: 100%;
}

.experienceContainer.navBoxDefault .boxShadow
{
    height: 25%;
}

.folderTabs
{
    position: absolute;
    left: 0;
    bottom: 0%;
    right: 0;
    width: auto;
    height: 30px;
    z-index: 9;
    transform: translate(0,-100%);
    transition: 3s;
}

.folderTabs.default
{
    transition: 1s;
}

.experienceContainer.navBoxFull .folderTabs
{
    bottom: 100%;
}

.experienceContainer.navBoxDefault .folderTabs
{
    bottom: 25%;
}

.tab
{
    position: absolute;
    width: 15%;
    height: 100%;
    border-bottom: 26px solid rgb(49, 49, 49);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: translate(0,5px);
    transition: 0.1s;
}

.tab1
{
    z-index: 9;
}

.tab2
{
    z-index: 7;
    left: 18%;
    border-bottom: 26px solid rgb(36, 36, 36);
}

.tab.selected
{
    border-bottom: 26px solid rgb(0, 0, 0);
}

.textBox
{
    position: absolute;
    margin: 10px;
    height: auto;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    display: block;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    transition: 0.1s;
    /* display: flex;
    flex-direction: column-reverse; */
}

.experienceContainer.navBoxDefault .textBox
{
    right: 70px;
}

.textBox p
{
    margin: 10px;
    margin-right: 40px;
    color: white;
    letter-spacing: 1px;
}

.textBox a
{
    margin-left: 40px;
    color: red;
    letter-spacing: 1px;
}

.textBox::-webkit-scrollbar
{
    width: 15px;
}

.textBox::-webkit-scrollbar-track
{
    background: none;
}

.textBox::-webkit-scrollbar-thumb
{
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box ;
}

.Typewriter__wrapper
{
    padding-bottom: 20px;
    transition: 0.1s;
    opacity: 1;
}

.textBox.settings
{
    
    overflow: hidden;
}

.textBox.settings .Typewriter__wrapper
{
    opacity: 0;
}

.settingsContainer
{
    position: absolute;
    margin: 10px;
    height: auto;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    display: block;
    overflow: auto;
    background-color: rgb(32, 59, 65);
    transition: 0.1s;
}

.volume
{
    position: absolute;
    bottom: 70px;
    right: -100px;
    width: 40px;
    height: 65%;
    opacity: 0;
    transition: 1s;
    background-color: rgb(68, 67, 47);
}

.volume img
{
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
}

.volume img:hover
{
    filter: brightness(0);
    cursor: pointer;
}

.volumeControl
{
    position: absolute ;
}

.experienceContainer.navBoxDefault .volume
{
    opacity: 1;
    right: 20px;
}

.fullscreen
{
    position: absolute;
    bottom: 20px;
    right: -100px;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: 1s;
}

.fullscreen:hover
{
    filter: brightness(0);
    cursor: pointer;
}

.experienceContainer.navBoxDefault .fullscreen
{
    opacity: 1;
    right: 20px;
}

.score
{
    z-index: 3;
    position: absolute;
    bottom: 2%;
    left: 20px;
    color: lightcoral;
    opacity: 1;
    transition: 0.5s;
}

.score.hidden
{
    opacity: 0;
}

.flexDivider
{
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
}

.userInput
{
    margin: 10px;
    margin-top: 0;
    width: 100%;
    bottom: 0;
    height: 5%;
    overflow: hidden;
}

.experienceContainer.userInputHidden .userInput
{
    visibility: hidden;
}

.textInput
{
    width: 100%;
    padding: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(218, 170, 170);
    overflow: hidden;
}

.textInput:focus, input:focus
{
    outline: none;
}

.submitInput
{
    height: 100%;
    width: 50px;
    right: 0;
    transform: translate(0,-50%);
    background-color: black;
    text-decoration: none;
    color: rgb(218, 170, 170);
    font-size: 20px;
    border: none;
    transition: 0.2s;
    visibility: hidden;
}

.submitInput:hover
{
    color: rgb(99, 78, 78);
    cursor: pointer;
}

.controlsBox
{
    position: absolute;
    width: 17%;
    bottom: 10px;
    right: 0;
}

.controlsBox *
{
    color: rgb(218, 170, 170);
    text-align: center;
    font-size: 18px;
    margin: 8px;
}

.arrowControls
{
    z-index: 10;
    width: 100%;
    height: 40%;
    min-height: 100px;
    background-color: black;
    opacity: 50%;
    position: absolute;
    visibility: visible;
    transform: translate(0,-100%);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    -webkit-touch-callout: none;
}

.arrowControls.hidden
{
    visibility: hidden;
}

.arrowControls a
{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
}

.movementControls
{
    text-align: center;
    position: absolute;
    left: 20px;
}

.lookControls
{
    right: 20px;
    position: absolute;
    height: 100%;
}

.lookControls a
{
    font-size: 30px;
    height: 100%;
    width: 20%;
    background-color: white;
}

.pointerLockNotification
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    opacity: 1;
    transition: 1s;
    padding: 10px;
}

.pointerLockNotification.hidden
{
    opacity: 0;
}

/* LIL GUI */

.lil-gui
{
    background-color: black;
    opacity: 90%;
}